H1 {
    border: 5px groove blue;
    margin: 100px 90px;
	font-size: 30px;
}

H2 {
    border: 3px double red;
    padding: 80px 70px;

}

P { 
    border-radius: 20px;
    background-color: blueviolet;
	font-size:25px;
	color: rgb(5, 189, 5);
}

body {
	background-color: Gray;
	color: black;
}
